.main-container-wrapper{
	width: 100%;
}

.header-wrapper{
	width: 100%;
}

.header-top{
	width: 100%;
    height: 80px;
}

.header-top .header-top-container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.header-bottom{
	width: 100%;
    height: 80px;
}

.header-bottom .header-bottom-container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.body-container{
    width: 1170px;
    margin: 0 auto;
}

.body-container .text-slider-container{
    width: 100%;
}

.body-container .image-slider-container{
	width: 100%;
}

.body-container .image-slider-container ul.images{
	width: 100%;
}

.body-container .image-slider-container ul.images li{
	width: 100%;
}

.body-container .project{
	width: 1005;
}

.body-container .project .project-top{
	width: 100%;
}

.body-container .project .project-top .project-description{
	width: 770px;
}

.body-container .project .project-top .project-details{
	width: 264px;
}

.body-container .project .other-projects .select-projects{
	width: 100%;
	height: 40px;
}

.body-container .project .other-projects .project-lists{
	width: 100%;
}

.footer-wrapper{
	width: 100%;
    /*height: 45px;*/
}

.footer-top{
	width: 100%;
}

.footer-top-container{
    width: 1170px;
    margin: 0 auto;
}

.footer-top-container .footer-outer-left{
	width: 728px;
	float: left;
}

.footer-top-container .footer-outer-left .footer-left{
	width: 372px;
	float: left;
}

.footer-top-container .footer-outer-left .footer-center{
	width: 332px;
	float: right;
}

.footer-top-container .footer-outer-left .footer-center .center-left{
	width: 164px;
	float: left;
}

.footer-top-container .footer-outer-left .footer-center .center-right{
	width: 164px;
	float: right;
}

.footer-top-container .footer-right{
	width: 372px;
	float: right;
}

.footer-bottom{
	width: 100%;
}

.footer-bottom-container{
    width: 1170px;
    margin: 0 auto;
    height: 50px;
}
